

<div class="row form-group ">
   <div class="pull-left" style="padding-left: 15px;">
     <button class="btn btn-sm blue "><i class="fa fa-print"></i> Imprimir</button>
   </div>
</div>
<div class="row form-group">
<div class="col-md-12">
<div class="col-md-12 well">
<div class="col-md-4 text-left">
    <div class="span4">
            <h4><strong>Detalles del profesor</strong></h4>
            <br> <br>
            {% if datosS['Foto'] is not null %}
                 {{ datosS['Foto'] | raw }}
                    <br> <br>
            {% endif %}

             {% if datosS['Nombre'] is not null %}
                    <strong>Nombres y Apellidos:</strong>
                    {{datosS['Nombre']}} <br>
            {% endif %}

            {% if datosS['Fecha de nacimiento'] is not null %}
                 <strong>Fecha de nacimiento: </strong> 
                {{datosS['Fecha de nacimiento']}} <br>
            {% endif %}
                          
            <address>
                {% if datosS['Domicilio'] is not null %}
                     <strong>Domicilio: </strong><br>
                     {{datosS['Domicilio']}} <br>
                {% endif %}
            </address>
                                   
            <address>
                {% if datosS['Correo'] is not null %}
                  <strong>Correo electronico: </strong>
                  <a href="mailto:#">{{datosS['Correo']}}</a><br>
                {% endif %}

                {% if datosS['Facebook'] is not null %}
                  <strong>Facebook: </strong>
                  <a href="#">{{datosS['Facebook']}}</a>
                {% endif %}
            </address>
                             
            {% if datosS['Teléfono particular'] is not null %}
                <abbr title="Teléfono">Teléfono:</abbr> {{datosS['Teléfono particular']}}<br>
            {% endif %}
            
            {% if datosS['Teléfono celular'] is not null %}
                <abbr title="Teléfono">Celular:</abbr> {{datosS['Teléfono celular']}}<br>
                <br>
            {% endif %}
        </div>
</div>


<div class="col-md-4 text-left">
<div class="span4">
    <div class="">
        <h4><strong></strong></h4>
            <br> <br>
                <address>
                    {% if datosS['Fecha ingreso Universidad'] is not null %}
                    <strong>Fecha ingreso Universidad: </strong> {{datosS['Fecha ingreso Universidad']}}<br>
                    {% endif %}

                    {% if datosS['Fecha ingreso Facultad'] is not null %}
                    <strong>Fecha ingreso Facultad: </strong> {{datosS['Fecha ingreso Facultad']}}<br>
                    {% endif %}
                </address>

                <address>
                    {% if datosS['Carrera'] is not null %}
                    <strong>Carrera: </strong> {{datosS['Carrera']}}<br>
                    {% endif %}
                     {% if datosS['numeroEmpleado'] is not null %}
                    <strong>ID Empleado: </strong> {{datosS['numeroEmpleado']}}<br>
                    {% endif %}
                </address>  
                <address>
                    {% if datosS['Lugar donde labora'] is not null %}
                    <strong>Lugar donde labora: </strong> {{datosS['Lugar donde labora']}}<br>
                    {% endif %}

                    {% if datosS['Dirección donde labora'] is not null %}
                    <strong>Dirección donde labora: </strong> {{datosS['Dirección donde labora']}}<br>
                    {% endif %}

                    {% if datosS['Teléfono donde labora'] is not null %}
                    <strong>Teléfono donde labora: </strong> {{datosS['Teléfono donde labora']}}<br>
                    {% endif %}
                </address>
    </div>
 </div>
 </div>


<div class="col-md-4 text-left">
<div class="span4">
    <div class="">
        <h4><strong></strong></h4>
            <br> <br>
                <address>
                <tr>
                    <td  class="text-left">
                        <b> Materias de preferencia </b>
                    </td>
                    <td class="text-left">
                        {% for materia in materias  %}
                            <div style="margin-bottom:2px">
                                {{ loop.index }})  {{ materia.texto }}
                            </div>
                        {% endfor %}
                    </td>
                </tr>


                {% if datosC['horas1'] is defined or datosC['horas3'] is defined %}
                 <br> <br>
                <tr>
                    <td  class="text-left">
                        <b> Horas de preferencia 1 </b>
                    </td>
                    <td class="text-left" >
                        {% if datosC['horas1'] is defined %}
                        <b> Lunes a Viernes</b>
                        {% for preferencia in datosC['horas1']  %}
                            <div style="margin-bottom:2px">
                                {{ loop.index }}) {{ preferencia.hora.nombre }}
                            </div>
                        {% endfor %}
                        <br>
                        {% endif %}
                        {% if datosC['horas3'] is defined %}
                        <b>S&aacute;bado</b>
                        {% for preferencia in datosC['horas3']  %}
                            <div style="margin-bottom:2px">
                                {{ loop.index }}) {{ preferencia.hora.nombre }}
                            </div>

                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                       {% if datosC['horas2'] is defined or datosC['horas4'] is defined %}
                        <br> <br>
                <tr>
                    <td  class="text-left">
                        <b> Horas de preferencia 2</b>
                    </td>
                    <td class="text-left" >
                        {% if datosC['horas2'] is defined %}
                        <b> Lunes a Viernes</b>
                        {% for preferencia in datosC['horas2']  %}
                            <div style="margin-bottom:2px">
                                {{ loop.index }}) {{ preferencia.hora.nombre }}
                            </div>
                        {% endfor %}
                        <br>
                        {% endif %}
                        {% if datosC['horas4'] is defined %}
                        <b> S&aacute;bado</b>
                        {% for preferencia in datosC['horas4']  %}
                            <div style="margin-bottom:2px">
                                {{ loop.index }}) {{ preferencia.hora.nombre }}
                            </div>
                        {% endfor %}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                </address>

                <address>
                    {% if datosS['Habilidades y competencias'] is not null %}
                    <strong>Habilidades y competencias: </strong> {{datosS['Habilidades y competencias']}}<br>
                    {% endif %}
                     {% if datosS['Idiomas'] is not null %}
                    <strong>Idiomas: </strong> {{datosS['Idiomas']}}<br>
                    {% endif %}
                </address>  
             
    </div>
 </div>
 </div>

 </div></div>

                   

                            </div>
                        </div>
                            </div>
                        </div>

 </div>

