{% extends '::base_nosidebar.html.twig' %}

 {% block pagecontent %}


     <div class="grey">
             <div class="row">
                 <div class="col-md-12">
                     <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                     <h3 class="page-title">
                         Configuraci&oacute;n General <small>Estad&iacute;sticas y m&aacute;s </small>
                     </h3>
                     <ul class="page-breadcrumb breadcrumb">
                         <li>
                             <i class="fa fa-home"></i>
                             <a href="{{ path('home_page') }}">
                                 Portada
                             </a>
                             <i class="fa fa-angle-right"></i>
                         </li>
                         <li>
                             <a href="#" >
                                 Configuraci&oacute;n General
                             </a>
                         </li>
                         <li class="pull-right">
                             <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range" style="display: block;">
                                 <i class="fa fa-calendar"></i>
                                 <span></span>
                                 <i class="fa fa-angle-down"></i>
                             </div>
                         </li>
                     </ul>
                     <!-- END PAGE TITLE & BREADCRUMB-->
                 </div>
             </div>
             
                 <div class="page-sidebar" style="width:300px!important;">
                     <ul class="ver-inline-menu tabbable margin-bottom-10">
                         <li class="" >
                             <a href="{{path('general_config_information')}}" data-toggle="tab" id="configGeneralTab" class="ajaxify">
                                 <i class="fa fa-tint"></i> Informacion General
                             </a>
                         </li>
                         <li class="">
                             <a href="{{path('general_config_homepage_crud')}}"  id="pantallaInicial" >
                                 <i class="fa fa-briefcase"></i> Pantalla Inicial
                             </a>
							<span class="after">
							</span>
                         </li>
                         <li class="">
                             <a href="#tab_2" data-toggle="tab">
                                 <i class="fa fa-group"></i> Reportes
                             </a>
                         </li>
                         <li class="">
                             <a href="#tab_3" data-toggle="tab">
                                 <i class="fa fa-leaf"></i> Notificaciones
                             </a>
                         </li>

                     </ul>
                 </div>
                  <div class="col-md-2">
                  </div>
                 <div class="col-md-8">
                     <div class="page-content-body">
                     
                 </div>
          
         </div>

     </div>

 {% endblock %}



{% block javascript %}
    
    
        <script src="{{ asset('bundles/comun/base/plugins/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery-migrate-1.2.1.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
<script src="{{ asset('bundles/comun/js/ajaxify_form.js') }}"></script>
<script src="{{ asset('bundles/comun/base/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery.blockui.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery.cokie.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/uniform/jquery.uniform.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/bootstrap-toastr/toastr.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/jquery.validate.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/plugins/bootbox/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/comun/base/dndenablescroll.js') }}"></script>
{% endblock %}



     



